html,
body {
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  width: 400px;
  height: 300px;
}

.header {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 15px;
}

#reset-text {
  color: red;
}
